<%- include("../partials/header.ejs") %>
<h1>Details about dino <%= id %>:</h1>

<h2>Name:</h2>

<p><%= dino.name %></p>

<h2>Type:</h2>

<p><%= dino.type %></p>
<%- include("../partials/footer.ejs") %>